<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table" border="1">
    <thead>
    </thead>
    <thead>
    <tr>
        <th>Id</th>
        <th>Quantidade</th>
        <th>Descricao</th>
        <th>Valor</th>

        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tr th:each="i : ${itemVenda}">
        <td th:text="${i.id}"> </td>
        <td th:text="${i.quantidade}"> </td>
        <td th:text="${i.produto.descricao}"></td>
        <td th:text="${i.produto.valor}"></td>
        <td> <a th:href="@{/venda/list}">Voltar</a> </td>
    </tr>
</table>

</body>
</html>